.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.idea
.vscode
ehthumbs.db
Thumbs.db
_config.yml
*.lock
*lock.json
*.log

/node_modules/

/images/*
!/images/high/

/assets/*
!/assets/_source/

/vendor/*
!/vendor/assets/
/vendor/assets/*
!/vendor/assets/_source/
